In [2]:
import surprise
import pandas as pd
import os
import numpy as np

In [31]:
df= pd.read_csv(r'pd.csv',encoding='cp949')
del df['Unnamed: 0']
df.head(10)

,BIZ_UNIT,PD_S_C,ID,GENDER,AGE_PRD,HOM_PST_NO,RCT_NO,BR_C,DE_DT,DE_HR,BUY_AM,BUY_CT,PD_S_NM,PD_M_NM,PD_H_NM
0,A01,1,457,2,60PRD,52.0,468040,2,20150830,19,23900,1,우육,육류,식품
1,A01,1,12934,2,40PRD,120.0,401604,31,20150524,16,15000,1,우육,육류,식품
2,A01,1,5565,2,40PRD,480.0,457136,25,20151213,19,21440,1,우육,육류,식품
3,A01,1,4879,2,40PRD,55.0,336179,2,20150608,17,16340,1,우육,육류,식품
4,A01,1,14235,2,60PRD,62.0,396537,12,20150604,17,76200,1,우육,육류,식품
5,A01,1,611,2,60PRD,140.0,416381,37,20150306,19,90000,1,우육,육류,식품
6,A01,1,4713,1,40PRD,340.0,437850,11,20150614,17,15000,1,우육,육류,식품
7,A01,1,1696,2,50PRD,480.0,375999,25,20150103,15,57000,1,우육,육류,식품
8,A01,1,2671,2,50PRD,100.0,353177,8,20150115,16,10430,1,우육,육류,식품
9,A01,1,17241,2,30PRD,140.0,375321,37,20151015,19,10000,1,우육,육류,식품

# 나이대에 따른 평균 구매빈도

In [3]:
S= pd.read_csv(r'count.csv',encoding='cp949')
del S['Unnamed: 0']
S.head(10)

   ID   PD_S_NM  V1
0   1  L/C 아웃도어   1
1   1   L/C골프의류   2
2   1   N/B골프의류   4
3   1        계육   1
4   1     기능성침대   1
5   1      기타생선   1
6   1        내의   1
7   1        돈육   1
8   1     디스커버리   1
9   1      디저트류   3

In [34]:
# 빈도 & df merge
df_m=pd.merge(df,S,on=['ID','PD_S_NM'])
df_m.head(10)

,BIZ_UNIT,PD_S_C,ID,GENDER,AGE_PRD,HOM_PST_NO,RCT_NO,BR_C,DE_DT,DE_HR,BUY_AM,BUY_CT,PD_S_NM,PD_M_NM,PD_H_NM,V1
0,A01,1,457,2,60PRD,52.0,468040,2,20150830,19,23900,1,우육,육류,식품,7
1,A01,1,457,2,60PRD,52.0,157800,2,20150616,12,24430,1,우육,육류,식품,7
2,A01,1,457,2,60PRD,52.0,480929,2,20150418,19,15900,1,우육,육류,식품,7
3,A01,1,457,2,60PRD,52.0,404273,2,20151225,16,22770,1,우육,육류,식품,7
4,A01,1,457,2,60PRD,52.0,250564,2,20150214,12,75840,1,우육,육류,식품,7
5,A01,1,457,2,60PRD,52.0,480929,2,20150418,19,20790,1,우육,육류,식품,7
6,A01,1,457,2,60PRD,52.0,436273,2,20150217,17,97340,1,우육,육류,식품,7
7,A01,1,12934,2,40PRD,120.0,401604,31,20150524,16,15000,1,우육,육류,식품,1
8,A01,1,5565,2,40PRD,480.0,457136,25,20151213,19,21440,1,우육,육류,식품,6
9,A01,1,5565,2,40PRD,480.0,237706,25,20150824,15,38430,1,우육,육류,식품,6

# 나이대별 구매평균 빈도

In [45]:
df_by_age=df_m[['PD_S_NM','AGE_PRD','V1']].groupby(['PD_S_NM','AGE_PRD']).mean()
df_by_age=df_by_age.reset_index()
df_by_age.columns=['PD_S_NM','AGE_PRD','M_V1']
df_by_age[0:5]

    PD_S_NM AGE_PRD       M_V1
0  1000ml이상   20PRD   3.753247
1  1000ml이상   30PRD   9.051282
2  1000ml이상   40PRD   5.212454
3  1000ml이상   50PRD  30.792553
4  1000ml이상   60PRD   6.677419

In [46]:
# 평균평준화 나이대별 빈도력
df_by_age_m=pd.merge(df_m,df_by_age,on=['PD_S_NM','AGE_PRD'])
df_by_age_m.head(10)

,BIZ_UNIT,PD_S_C,ID,GENDER,AGE_PRD,HOM_PST_NO,RCT_NO,BR_C,DE_DT,DE_HR,BUY_AM,BUY_CT,PD_S_NM,PD_M_NM,PD_H_NM,V1,M_V1
0,A01,1,457,2,60PRD,52.0,468040,2,20150830,19,23900,1,우육,육류,식품,7,21.168825
1,A01,1,457,2,60PRD,52.0,157800,2,20150616,12,24430,1,우육,육류,식품,7,21.168825
2,A01,1,457,2,60PRD,52.0,480929,2,20150418,19,15900,1,우육,육류,식품,7,21.168825
3,A01,1,457,2,60PRD,52.0,404273,2,20151225,16,22770,1,우육,육류,식품,7,21.168825
4,A01,1,457,2,60PRD,52.0,250564,2,20150214,12,75840,1,우육,육류,식품,7,21.168825
5,A01,1,457,2,60PRD,52.0,480929,2,20150418,19,20790,1,우육,육류,식품,7,21.168825
6,A01,1,457,2,60PRD,52.0,436273,2,20150217,17,97340,1,우육,육류,식품,7,21.168825
7,A01,1,14235,2,60PRD,62.0,396537,12,20150604,17,76200,1,우육,육류,식품,2,21.168825
8,A01,1,14235,2,60PRD,62.0,396537,12,20150604,17,16890,1,우육,육류,식품,2,21.168825
9,A01,1,611,2,60PRD,140.0,416381,37,20150306,19,90000,1,우육,육류,식품,128,21.168825

In [4]:
S['V1'].unique()

array([  1,   2,   4,   3,   8,   5,  14,  30,  18,  13,   6,  17,  38,
        11,  12,   7,  21,   9,  23,  29,  19,  22,  32,  28,  15,  10,
        20,  25,  27,  34,  78,  16,  67,  40,  35,  37,  24,  53,  68,
        52,  41,  31,  26,  51,  39, 112,  36,  42,  33,  50,  48,  63,
        46,  47,  83, 298,  81, 266, 196, 164, 315, 364,  43,  62,  60,
        80,  59,  55,  64,  45,  49, 103, 101,  44,  66,  73,  72,  61,
        56,  71,  95, 124, 113, 122,  82,  54, 128,  57, 102,  74, 189,
       293,  69,  92,  86,  87,  88, 183, 107,  76,  93,  70,  77, 108,
        84,  58, 109,  96, 106,  79, 273, 119, 118,  97, 143, 132, 137,
        89, 120, 145, 127, 129,  91, 130, 141, 123, 285, 166, 198, 105,
       382, 162, 172,  75,  65, 334, 139, 114, 138, 125, 168, 142, 148,
        94, 179, 100,  99, 140,  85, 219, 286,  98, 150, 133, 176, 156,
       115, 134, 151,  90, 126, 171, 155, 131, 182, 160, 116, 197, 104,
       190, 242, 310, 117, 144, 251, 111, 121, 165, 153, 319, 192, 295,
       221, 261, 169, 154, 195, 149])

# Minmax scale한 값을 df_by_age_m에 추가하고싶당 ㅜㅜ

In [1]:
def function_name(V1,M_V1,min_V1):
    if V1<M_V1:
        return (V1-min_V1)*0.5/(M_V1-min_V1)
    else:
        return ((V1-min_V1)*0.5/(M_V1-min_V1))+0.5

In [70]:
import numpy as np
def a(df_by_age_m):
    if df_by_age_m.ix['V1']< df_by_age_m.ix['M_V1']:
        return ((df_by_age_m.ix['V1']-np.min(df_by_age_m.ix['V1']))/(df_by_age_m.ix['M_V1']-np.min(df_by_age_m.ix['V1'])))*0.5
    else:
        return ((df_by_age_m.ix['V1']-np.min(df_by_age_m.ix['V1']))/(df_by_age_m.ix['M_V1']-np.min(df_by_age_m.ix['V1'])))*0.5+0.5
        
    # noise term prevents the zero division

In [26]:

y = S.iloc[:,-1]
xy = MinMaxScaler(y)
xy.unique()

array([ 0.        ,  0.00262467,  0.00787402,  0.00524934,  0.0183727 ,
        0.01049869,  0.03412073,  0.07611549,  0.04461942,  0.03149606,
        0.01312336,  0.04199475,  0.09711286,  0.02624672,  0.02887139,
        0.01574803,  0.05249344,  0.02099738,  0.05774278,  0.07349081,
        0.04724409,  0.05511811,  0.08136483,  0.07086614,  0.03674541,
        0.02362205,  0.04986877,  0.06299213,  0.06824147,  0.08661417,
        0.20209974,  0.03937008,  0.17322835,  0.1023622 ,  0.08923885,
        0.09448819,  0.06036745,  0.13648294,  0.17585302,  0.13385827,
        0.10498688,  0.07874016,  0.0656168 ,  0.1312336 ,  0.09973753,
        0.29133858,  0.09186352,  0.10761155,  0.0839895 ,  0.12860892,
        0.12335958,  0.16272966,  0.11811024,  0.12073491,  0.2152231 ,
        0.77952756,  0.20997375,  0.69553806,  0.51181102,  0.42782152,
        0.82414698,  0.95275591,  0.11023622,  0.16010499,  0.15485564,
        0.20734908,  0.15223097,  0.14173228,  0.16535433,  0.11548556,
        0.12598425,  0.26771654,  0.26246719,  0.11286089,  0.17060367,
        0.18897638,  0.18635171,  0.15748031,  0.14435696,  0.18372703,
        0.24671916,  0.32283465,  0.29396325,  0.3175853 ,  0.21259843,
        0.13910761,  0.33333333,  0.14698163,  0.26509186,  0.19160105,
        0.49343832,  0.7664042 ,  0.17847769,  0.23884514,  0.22309711,
        0.22572178,  0.22834646,  0.47769029,  0.27821522,  0.19685039,
        0.24146982,  0.18110236,  0.19947507,  0.28083989,  0.21784777,
        0.1496063 ,  0.28346457,  0.24934383,  0.27559055,  0.20472441,
        0.71391076,  0.30971129,  0.30708661,  0.2519685 ,  0.37270341,
        0.34383202,  0.35695538,  0.23097113,  0.31233596,  0.37795276,
        0.33070866,  0.33595801,  0.23622047,  0.33858268,  0.36745407,
        0.32020997,  0.74540682,  0.43307087,  0.51706037,  0.27296588,
        1.        ,  0.42257218,  0.4488189 ,  0.19422572,  0.167979  ,
        0.87401575,  0.36220472,  0.29658793,  0.35958005,  0.32545932,
        0.43832021,  0.37007874,  0.38582677,  0.24409449,  0.4671916 ,
        0.25984252,  0.25721785,  0.3648294 ,  0.22047244,  0.57217848,
        0.7480315 ,  0.25459318,  0.39107612,  0.34645669,  0.45931759,
        0.40682415,  0.2992126 ,  0.34908136,  0.39370079,  0.2335958 ,
        0.32808399,  0.44619423,  0.40419947,  0.34120735,  0.47506562,
        0.41732283,  0.30183727,  0.5144357 ,  0.27034121,  0.49606299,
        0.63254593,  0.81102362,  0.30446194,  0.37532808,  0.65616798,
        0.28871391,  0.31496063,  0.43044619,  0.39895013,  0.83464567,
        0.50131234,  0.77165354,  0.57742782,  0.6824147 ,  0.44094488,
        0.4015748 ,  0.50918635,  0.38845144])

In [21]:
S

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [6]:
S_table=S.set_index(['ID','PD_S_NM']).unstack()
S_table.fillna('').ix[212:222, 808:817]

/home/poza/anaconda2/envs/py3/lib/python3.5/site-packages/ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

         V1
PD_S_NM 드레싱 드림플라자 드링킹요구르트 등기구 등산배낭 등산소품 등산의류 등산화 디스커버리
ID
212
213
214       2
215
216
217
218
219
220
221
222

# Baseline model
∑rui∈Rtrain(rui−(μ+bu+bi))2+λ(b2u+b2i)

In [17]:
# train test split

train_size = int(len(S) * 0.7)
test_size = len(S) - train_size
trainset, testset = np.array(S[0:train_size]), np.array(
    S[train_size:len(S)])

In [5]:
import pandas as pd

from surprise import NormalPredictor
from surprise import Dataset
from surprise import Reader
reader = Reader(rating_scale=(1, 5))

In [34]:
data = Dataset.load_from_S(S[['ID', 'PD_S_NM', 'V1']], reader)
data.shape()
data.info()
data.head(10)

AttributeError: type object 'Dataset' has no attribute 'load_from_S'

In [47]:
ratings_dict = {'itemID': [1, 1, 1, 2, 2],
                'userID': [9, 32, 2, 45, 'user_foo'],
                'rating': [3, 2, 4, 3, 1]}
df = pd.DataFrame(ratings_dict)
data = Dataset.load_from_df(df[['userID', 'itemID', 'rating']], reader)

In [6]:
data= Dataset.load_from_df(S[['ID','PD_S_NM','V1']],reader)

In [57]:
data.split(n_folds=3)

bsl_options = {'method': 'als',
               'n_epochs': 5,
               'reg_u': 12,
               'reg_i': 5
               }
algo = surprise.BaselineOnly(bsl_options=bsl_options)

np.random.seed(0)
acc = np.zeros(3)
for i, (trainset, testset) in enumerate(data.folds()):
    algo.train(trainset)
    predictions = algo.test(testset)
    acc[i] = surprise.accuracy.fcp(predictions, verbose=True)
acc.mean()

Estimating biases using als...
FCP:  0.6498
Estimating biases using als...
FCP:  0.6520
Estimating biases using als...
FCP:  0.6503

0.65069239565281756

In [59]:
 surprise.evaluate(algo,data)

Evaluating RMSE, MAE of algorithm BaselineOnly.

------------
Fold 1
Estimating biases using als...
RMSE: 4.0136
MAE:  1.7186
------------
Fold 2
Estimating biases using als...
RMSE: 4.0349
MAE:  1.7139
------------
Fold 3
Estimating biases using als...
RMSE: 4.0821
MAE:  1.7127
------------
------------
Mean RMSE: 4.0435
Mean MAE : 1.7151
------------
------------

CaseInsensitiveDefaultDict(list,
                           {'mae': [1.7186401977626353,
                             1.7138879817122783,
                             1.7126663704098797],
                            'rmse': [4.013552708303723,
                             4.0348921061875549,
                             4.0821292421969293]})

# Collaborative Filter model


Neighborhood (User-based)CF & (Item-based)CF

In [ ]:
sim_options = {'name': 'msd'}
algo = surprise.KNNBasic(sim_options=sim_options)
surprise.evaluate(algo, data)

Evaluating RMSE, MAE of algorithm KNNBasic.

------------
Fold 1
Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 4.2867
MAE:  1.6073
------------
Fold 2
Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 4.3681
MAE:  1.6113
------------
------------
Mean RMSE: 4.3322
Mean MAE : 1.6071
------------
------------

CaseInsensitiveDefaultDict(list,
                           {'mae': [1.6072623307937233,
                             1.6027014438087883,
                             1.6113161557354228],
                            'rmse': [4.2867096407812264,
                             4.3417232643455206,
                             4.3681446774341621]})

# cosine

In [ ]:
sim_options = {'name': 'cosine'}
algo = surprise.KNNBasic(sim_options=sim_options)
surprise.evaluate(algo, data)

In [11]:


from surprise import GridSearch
from surprise import SVD
from surprise import Dataset

param_grid = {'n_epochs': [5, 10], 'lr_all': [0.002, 0.005],
              'reg_all': [0.4, 0.6]}

grid_search = GridSearch(SVD, param_grid, measures=['RMSE', 'FCP'],
                         verbose=False)

In [13]:
# Prepare Data

grid_search.evaluate(data)

Process ForkPoolWorker-9:
Process ForkPoolWorker-11:
Process ForkPoolWorker-10:
Process ForkPoolWorker-7:
Process ForkPoolWorker-12:
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
  File "/home/poza/anaconda2/envs/py3/lib/python3.5/multiprocessing/process.py", line 252, in _bootstrap
    self.run()
  File "/home/poza/anaconda2/envs/py3/lib/python3.5/multiprocessing/process.py", line 252, in _bootstrap
    self.run()
  File "/home/poza/anaconda2/envs/py3/lib/python3.5/multiprocessing/process.py", line 93, in run
    self._target(*self._args, **self._kwargs)
Traceback (most recent call last):
  File "/home/poza/anaconda2/envs/py3/lib/python3.5/multiprocessing/process.py", line 93, in run
    self._target(*self._args, **self._kwargs)
  File "/home/poza/anaconda2/envs/py3/lib/python3.5/multiprocessing/process.py", line 252, in _bootstrap
    self.run()
  File "/home/poza/anaconda2/envs/py3/lib/python3.5/multiprocessing/process.py", line 93, in run
    self._target(*self._args, **self._kwargs)
  File "/home/poza/anaconda2/envs/py3/lib/python3.5/multiprocessing/pool.py", line 108, in worker
    task = get()
  File "/home/poza/anaconda2/envs/py3/lib/python3.5/multiprocessing/process.py", line 252, in _bootstrap
    self.run()
  File "/home/poza/anaconda2/envs/py3/lib/python3.5/multiprocessing/pool.py", line 108, in worker
    task = get()
  File "/home/poza/anaconda2/envs/py3/lib/python3.5/multiprocessing/process.py", line 93, in run
    self._target(*self._args, **self._kwargs)
  File "/home/poza/anaconda2/envs/py3/lib/python3.5/site-packages/joblib-0.11-py3.5.egg/joblib/pool.py", line 360, in get
    racquire()
  File "/home/poza/anaconda2/envs/py3/lib/python3.5/multiprocessing/pool.py", line 108, in worker
    task = get()
  File "/home/poza/anaconda2/envs/py3/lib/python3.5/site-packages/joblib-0.11-py3.5.egg/joblib/pool.py", line 360, in get
    racquire()
  File "/home/poza/anaconda2/envs/py3/lib/python3.5/multiprocessing/pool.py", line 108, in worker
    task = get()
KeyboardInterrupt
KeyboardInterrupt
  File "/home/poza/anaconda2/envs/py3/lib/python3.5/site-packages/joblib-0.11-py3.5.egg/joblib/pool.py", line 360, in get
    racquire()
KeyboardInterrupt
  File "/home/poza/anaconda2/envs/py3/lib/python3.5/multiprocessing/process.py", line 252, in _bootstrap
    self.run()
  File "/home/poza/anaconda2/envs/py3/lib/python3.5/site-packages/joblib-0.11-py3.5.egg/joblib/pool.py", line 360, in get
    racquire()
  File "/home/poza/anaconda2/envs/py3/lib/python3.5/multiprocessing/process.py", line 93, in run
    self._target(*self._args, **self._kwargs)
  File "/home/poza/anaconda2/envs/py3/lib/python3.5/multiprocessing/pool.py", line 108, in worker
    task = get()
  File "/home/poza/anaconda2/envs/py3/lib/python3.5/site-packages/joblib-0.11-py3.5.egg/joblib/pool.py", line 362, in get
    return recv()
  File "/home/poza/anaconda2/envs/py3/lib/python3.5/multiprocessing/connection.py", line 250, in recv
    buf = self._recv_bytes()
  File "/home/poza/anaconda2/envs/py3/lib/python3.5/multiprocessing/connection.py", line 407, in _recv_bytes
    buf = self._recv(4)
  File "/home/poza/anaconda2/envs/py3/lib/python3.5/multiprocessing/connection.py", line 379, in _recv
    chunk = read(handle, remaining)
KeyboardInterrupt
KeyboardInterrupt

KeyboardInterrupt:

In [14]:
algo = surprise.SVD(n_factors=200, n_epochs=30)
surprise.evaluate(algo, data)

Evaluating RMSE, MAE of algorithm SVD.

------------
Fold 1
RMSE: 4.8887
MAE:  3.6249
------------
Fold 2
RMSE: 4.9442
MAE:  3.6230
------------
Fold 3
RMSE: 4.9569
MAE:  3.6225
------------
------------
Mean RMSE: 4.9299
Mean MAE : 3.6235
------------
------------

CaseInsensitiveDefaultDict(list,
                           {'mae': [3.6248800743975389,
                             3.6230362894746158,
                             3.6224824424238511],
                            'rmse': [4.888681070873977,
                             4.9442002434786341,
                             4.9568779936052314]})

In [ ]:
# best RMSE score
print(grid_search.best_score['RMSE'])
# >>> 0.96117566386

In [ ]:

# combination of parameters that gave the best RMSE score
print(grid_search.best_params['RMSE'],grid_search.best_score['FCP'],grid_search.best_params['FCP'])
# >>> {'reg_all': 0.4, 'lr_all': 0.005, 'n_epochs': 10}

In [ ]:

import pandas as pd  # noqa

results_df = pd.DataFrame.from_dict(grid_search.cv_results)
print(results_df)